Home {
    background-color: lightblue;
}

.welcome{
    font-size: 35px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;


}
.guestH{
    font-size: 35px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    

}
