
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Niramit');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');


.welcome{
   text-align:center;
}

.welcome h1{
    font-size: 35px;
    line-height: 1.4;
}

.guestHome{
    position: absolute;
width: 85%;
left: 7.5%;
top: 26vh;
text-align: center;
z-index: 9;
/* font-family: Lydian; */
text-transform: uppercase;
background-color: #ffe0e5;
max-width: 100%;
background-color: rgb(102, 71, 102);


}
.reviewBox{
    font-size: 18px;
    border:2px solid;
    border-color:rgb(102, 71, 102);

}

.reviewBoxHeader{
    font-family: 'PT Serif', serif;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.guestH{
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-color: #ffe0e5;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    display: table !important;

}

.welcomeImg{
    background-color: #ffe0e5;
    text-align: center;
    position:relative;
    width: 90%;
    opacity: 70%;
}

.thumbnail {
    text-align:center;
    position: relative;
    
}

.caption {
    background: rgb(128, 0, 64);
    color:white !important;
    position: absolute;
    font-size: 30px;
    top: 50%;
    opacity: 50%;
    width: 100%;
    left: 0;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linkProdHome{
    color: rgb(62, 3, 77);
    font-size: 30px;
}

.userName{
    color:rgb(78, 4, 60);
}

.beautyGeekFont{
    font-family: 'Abril Fatface', cursive;
}

.miniReviewBox{
    font-size: 20px;
    border:1px solid;
    border-color:rgb(102, 71, 102);
    padding:5px; 
    margin: 5px;
}

.homeProductTitle{
    font-size: 26px;
    border-radius: 5px; 
    font-family: 'Niramit', sans-serif;
    font-weight: bold; 
}
.homeProductBody{
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Niramit', sans-serif;
    
}

.deleteButton{

}