.LipstickBox
{
    background-color: #ffe0e5;

}
.containerLip{
    background: rgb(248, 242, 242);
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.lipstickTitle{
    background-image: url('./BK3.jpg') !important;
    background: pink;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top: 3px solid #c7b073;
    border-bottom: 3px solid #c7b073;
}

.LipstickBox h1{
    text-align: center;

    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top: 3px solid #c7b073;
    border-bottom: 3px solid #c7b073;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;    
    text-transform: uppercase;

}
.card-footer{
    background:#ecd5b3 !important;
    border-bottom: 3px solid #ddcb9a;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 200px;
    font-size:30px !important;
    color: black;
    text-align: center;

    font-family: 'Abril Fatface', cursive !important;
}


