@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Hind+Siliguri|Monoton|Patrick+Hand|Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Archivo+Narrow|Hind+Siliguri|Monoton|Patrick+Hand|Rock+Salt);

@import url(https://fonts.googleapis.com/css?family=Numans);
.loginBody{
   

}
.loginBox {
    padding: 80px;
    min-height: 50vh;
    max-width: 500px;
    margin: 0 auto;
    font-family: brandon-grotesque!important;
    

}

/* .form-group input */
/* {
    same as register.css
} */

        
.buttonLogin{
    background: #c7b073;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    line-height: 1.5;
    width: 100%;
    display: flex;
    color:white;
    position: relative;
        text-align: center;
        line-height: 32px;
        font-size: 18px;

}



 
