@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Hind+Siliguri|Monoton|Patrick+Hand|Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Archivo+Narrow|Hind+Siliguri|Monoton|Patrick+Hand|Rock+Salt);

@import url(https://fonts.googleapis.com/css?family=Numans);
.registerBody{
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;

}
.RegisterBox {
    text-align:center;
  padding: 100px 15px 33px 15px;
    width: 960px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 77px 15px 33px 15px;
    overflow: hidden;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}


 .registrationTitle
{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 4px;

}





 

input.form-control{
    width: 100%;
    background: transparent;
    overflow: visible;
    font-family: Soleil,Helvetica,Arial,sans-serif;
    margin: 0 0 22px;
    
}
        
.buttonRegister{
    font-size: 25px;
    background: rgb(83, 3, 43);
    line-height: 1.5;
    width: 100%;
    display: flex;
    color:white;
    position: relative;


   
}
